

body{
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background: #bfbff1;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#search{
    text-align: center;
    margin-top: 100px;
    max-width: 400px;

}

#search-input{
    padding: 10px;
    font-size: 18px;
    width: 302px;
    border-radius: 6px;
}

#item-list{
    width: 100%;
    padding: 0;
    max-width: 400px;
    list-style: none;
}

.item{
    margin: 10px 0;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 8px 12px rgb(102, 100, 100);
    transition: transform 0.4s ease-in-out;
}

.item:hover{
    transform: scale(1.2);
}

.item:nth-child(even){
    background-color: #23d17a;
}

.item.item:nth-child(odd){
    background-color: #74eff8;
}